<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Order Details</title>
    </head>
    <body>
        <header>
            <nav><a href="/orders">Home</a></nav>
            <h1>Book Worms Inc.</h1>
        </header>
        <h2>Order Details</h2>
        <div class='order-block'>
            <ul>
                <li>Customer name: {{ order.customer_name }}</li>
                <li>Order placed: {{ order.order_date }}</li>
                <li>Book title: {{ order.book_title }}</li>
                <li>Quantity: {{ order.quantity }}</li>
            </ul>
        </div>
    </body>
</html>